h2 {
  color: green;
  font-size: large;
}
h1 {
  font-size: x-large;
}
.item1 {
  box-sizing: border-box;
  box-shadow: 5px 10px 18px #888888;
  background-color: white;
  width: 420px;
}
.head {
  font-size: large;
}
.container {
  align-items: flex-start;
}
.h1 {
  margin-top: 2px;
  font-size: xx-large;
  font-weight: bolder;
  color: green;
  height: 350px;
  background-image: url("p.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  height: 30px;
  background-color: green;
  color: wheat;
  text-align: center;
}
